<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: rgb(2, 32, 255)">Group Member Information</h1>

		<body bgcolor="lightGreen">

			<form action="/about" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<div>

                    1.<br>
                    Name: FU HONG HUI<br>
			  		Student ID: 21WMR05049<br>
                    Programme: RIT3G2<br>

                    <br>2.<br>
                    Name: LAW KUAN TENG<br>
			  		Student ID: 21WMR05054 <br>
                    Programme: RIT3G2<br>

                    <br>3.<br>
                    Name:LOW LI JUN<br>
			  		Student ID:21WMR08614 <br>
                    Programme:RIT3G2<br>

                    <br>4.<br>
                    Name:CHEE HIN WENG<br>
			  		Student ID:21WMR05044<br>
                    Programme:RIT3G2<br>

			  		

					<a href="./AddEmp.html">Back</a><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>