<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: rgb(2, 32, 255)">Employee Database</h1>

		<body bgcolor="lightGreen">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				

		  		Employee ID:    <input style="height:25px;font-size:14pt; color:rgb(89, 1, 121);" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:     <input style="height:25px;font-size:14pt;color:rgb(89, 1, 121);" type="text" name="first_name" ><br><br>

		  		Last Name:      <input style="height:25px;font-size:14pt;color:rgb(89, 1, 121);" type="text" name="last_name"><br><br>

		  		Primary Skills: <input style="height:25px;font-size:14pt;color:rgb(89, 1, 121);" type="text" name="pri_skill"><br><br>

		  		Location:       <input style="height:25px;font-size:14pt;color:rgb(89, 1, 121);" type="text" name="location"><br><br>

		  		Image:          <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:rgb(89, 1, 121);"> <br><br>

		  		<button type="submit" style="background: green; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button><br><br>


				
			</form>
			<div>
				<h2 style="color: rgb(2, 32, 255)">Group Member Information</h2>

				1.<br>
				Name: FU HONG HUI<br>
				  Student ID: 21WMR05049<br>
				Programme: RIT3G2<br>

				<br>2.<br>
				Name: LAW KUAN TENG<br>
				  Student ID: 21WMR05054 <br>
				Programme: RIT3G2<br>

				<br>3.<br>
				Name:LOW LI JUN<br>
				  Student ID:21WMR08614 <br>
				Programme:RIT3G2<br>

				<br>4.<br>
				Name:CHEE HIN WENG<br>
				  Student ID:21WMR05044<br>
				Programme:RIT3G2<br>


			  </div>

			

			
		</body>

	</font>
</center>
</html>
